
<main>

	<table>
		<thead></thead>
		<tbody>
			<tr>

				<td style="color: green; font-size: 24px;">
					<%= @remind.user.email %> just made a remind.

				</td>

			</tr>


		</tbody>


	</table>


</main>
